{% extends 'base.html' %} 

{% load static %}

{% block title %} {{ obj.title }} {% endblock title %}

{% block style %}
<style>
  * {
    font-family: "Roboto", monospace;
  }

  img {
      width: 60%;
  }
</style>
{% endblock style %} 

{% block content %}
<div class="container-fluid my-5">
  <div class="container">
    <div class="current_image">
      <img src="{{ obj.main_image.url }}" alt=""/>
    </div>
    <h1>{{ obj.title }}</h1>
    <h2>${{ obj.price }}</h2>
    <button class="btn btn-primary" id="cart-action" data-action="add" data-product="{{ obj.id }}">Add to cart</button>
  </div>
</div>
{% endblock content %}

{% block js %}
<script src="{% static '/js/cart/add.js' %}"></script>
{% endblock js %}
