{% extends 'base.html' %}

{% load static %}

{% block title %}
Ecommerce - Home
{% endblock title %}

{% block style %}
<style>
    * {
      font-family: "Roboto", monospace;
    }
  
    .card {
        width: 20rem;
    }
  </style>
{% endblock style %}

{% block content %}
<div class="container-fluid my-3">
    <h1>Ecommerce</h1>
    <hr />
    <div class="container">
        <center>
        <div class="products my-3 row" id="root">

        </div>
    </center>
    </div>

</div>

{% endblock content %}

{% block js %}
<script src="{% static '/js/cart/add.js' %}"></script>
<script src="{% static '/js/base/home.js' %}"></script>
{% endblock js %}